<ion-view title="Control" id="page2">
    <ion-content padding="true" class="has-header">
        <div id="control-button-bar1" class="button-bar"></div>
        <form id="control-form2" class="list">
            <ion-toggle toggle-class="toggle-positive" id="control-toggle1" ng-change="onChange" ng-model="sw.ac">Switch</ion-toggle>
        </form>
        <form id="control-form3" class="list">
            <ion-toggle toggle-class="toggle-positive" id="control-toggle4">Person Detection</ion-toggle>
        </form>
        <form id="control-form4" class="list">
            <ion-toggle toggle-class="toggle-positive" id="control-toggle5" ng-model="smart">Smart Control</ion-toggle>
            <label class="item item-input item-stacked-label" id="control-input2">
                <span class="input-label">Time to Sleep Mode</span>
                <input type="time" placeholder="" ng-disabled="smart==false">
            </label>
            <label class="item item-input item-stacked-label" id="control-input3">
                <span class="input-label">Time to Off</span>
                <input type="time" placeholder="" ng-disabled="smart==false" ng-init="ng-disabled='true'">
            </label>
        </form>
    </ion-content>
</ion-view>