<ion-view title="Price Watch" id="page3">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/dGGn2PbRQnySS18NM5tV_Hitory.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div id="priceWatch-markdown1" style="color:#000000;">
            <p>Your airconditioner's electric bill for the day:</p>
        </div>
        <form id="priceWatch-form1" class="list">
            <div>
                <h1 style="color:#000000;">
                    <div>P{{(2.12*ppu.data).toFixed(2)}}</div>
                </h1>
            </div>
            <div>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Ave. price of electricity per kWh:</span>
                    <input type="number" ng-model="ppu.data" placeholder="15" ng-init="ppu.data = '15'">
                </label>
            </div>
        </form>
    </ion-content>
</ion-view>